---
import BentoSpecialHover from "./BentoSpecialHover.astro"
---

<div
  class="bg-primary group row-start-4 overflow-hidden rounded-2xl transition hover:scale-101 md:col-span-2 md:col-start-3"
>
  <BentoSpecialHover> 5 </BentoSpecialHover>
</div>
