---
import BentoSpecialHover from "./BentoSpecialHover.astro"
---

<div
  class="bg-primary group flex items-center justify-center overflow-hidden rounded-2xl text-center text-4xl font-black text-white md:col-start-5 md:row-span-2"
>
  <BentoSpecialHover>
    <div class="flex -rotate-3 flex-col">
      <span>14 & 15</span><span>de junio</span>
    </div>
  </BentoSpecialHover>
</div>
