---
export type Props = {
  content: string
}

const { content } = Astro.props
---

<div class="bg-theme-green-light mx-auto my-[3%] -ml-2 w-[110%] -rotate-3 text-white">
  <div class="flex gap-x-4 overflow-hidden py-8">
    {
      Array.from({ length: 8 }).map((_, index) => (
        <div class="marquee-content animate-marquee flex flex-none justify-around gap-x-4 [&>*]:text-[9vw] [&>*]:leading-none [&>*]:font-black [&>*]:uppercase">
          <div>{content}</div>
          {index !== 7 && <div> · </div>}
        </div>
      ))
    }
  </div>
</div>
