---
export type Props = {
  content: string
}

const { content } = Astro.props
---

<div class="flex gap-x-4 overflow-hidden py-2">
  {
    Array.from({ length: 8 }).map((_, index) => (
      <div class="marquee-content animate-marquee flex flex-none justify-around gap-x-4 [&>*]:text-[4vw] [&>*]:leading-none [&>*]:font-black [&>*]:uppercase">
        <div>{content}</div>
        {index !== content.length - 1 && <div> · </div>}
      </div>
    ))
  }
</div>
