---
import GlowingEffect from "./GlowingEffect.astro"

const { href, isOfficial } = Astro.props
---

<div class="relative rounded-[2rem]">
  <GlowingEffect
    blur={0}
    spread={40}
    proximity={64}
    inactiveZone={0.01}
    borderWidth={3}
    color={isOfficial ? "var(--color-primary)" : "var(--color-primary-light)"}
  />
  <a
    href={href}
    target="_blank"
    rel="noopener noreferrer"
    class="group flex max-h-12 w-64 grow-0 items-center justify-center rounded-[2rem] bg-white object-contain p-11 lg:col-span-1"
    class:list={[isOfficial ? "border-primary" : "border-primary-light", "border-2", "border-t"]}
  >
    <slot />
  </a>
</div>
