<header>
  <div class="flex flex-row items-center justify-around p-2">
    <a href="/">
      <img src="/favicon.svg" alt="Lolalolitaland" class="size-16" />
    </a>

    <nav aria-label="Navegación principal">
      <ul class="flex flex-row gap-4 text-xl font-bold text-white">
        <a
          href="#"
          class="relative after:absolute after:left-1/2 after:block after:h-0.5 after:w-0 after:-translate-x-1/2 after:bg-white after:transition-all after:duration-300 after:ease-in-out hover:after:w-full"
          >Atracciones</a
        >
        <a
          href="#"
          class="relative after:absolute after:left-1/2 after:block after:h-0.5 after:w-0 after:-translate-x-1/2 after:bg-white after:transition-all after:duration-300 after:ease-in-out hover:after:w-full"
          >Sponsors</a
        >
        <a
          href="#"
          class="relative after:absolute after:left-1/2 after:block after:h-0.5 after:w-0 after:-translate-x-1/2 after:bg-white after:transition-all after:duration-300 after:ease-in-out hover:after:w-full"
          >FAQ</a
        >
      </ul>
    </nav>

    <div>
      <button class="bg-primary rounded-full px-4 py-2 text-white">Comprar</button>
    </div>
  </div>
</header>
