---
import Attractions from "@/components/Bento-hero/Attractions.astro";
import Img from "@/components/Bento-hero/Img.astro";
import Map from "@/components/Bento-hero/Map.astro";
import Schedules from "@/components/Bento-hero/Schedules.astro";
import Tickets from "@/components/Bento-hero/Tickets.astro";
---

<section class="bg-primary-light pt-16 pb-24">
  <div
    class="grid grid-cols-1 md:grid-cols-5 md:grid-rows-4 gap-4 max-w-5xl mx-auto"
  >
    <Img></Img>
    <Schedules></Schedules>
    <Tickets></Tickets>
    <Map></Map>
    <Attractions></Attractions>
  </div>
</section>
