---
import BentoComponent from "@/components/BentoComponent.astro"
---

<section class="bg-primary-light pt-16 pb-24">
  <div
    class="grid grid-cols-1 px-4 lg:px-2 md:grid-cols-5 md:grid-rows-4 gap-4 max-w-5xl mx-auto"
  >
    <div class="md:col-span-4 md:row-span-3 aspect-video rounded-2xl relative">
      <img
        class="rounded-2xl z-10 relative"
        src="/images/lolalolitaland-hero.webp"
        alt="Fotografía de una joven recostada, que es Lola Lolita, sobre la arena con una cola de sirena azul, frente a una piscina con toboganes rosas en un entorno tropical, con el texto ‘Lola Lolita Land’ en la parte superior."
      />
      <img
        class="absolute blur-xl m-auto bottom-0 h-full w-auto z-0"
        src="/images/lolalolitaland-hero.webp"
        alt="Fotografía de una joven recostada, que es Lola Lolita, sobre la arena con una cola de sirena azul, frente a una piscina con toboganes rosas en un entorno tropical, con el texto ‘Lola Lolita Land’ en la parte superior."
      />
    </div>
    <BentoComponent title="14 & 15 de junio" cn="rightTop" />
    <BentoComponent title="Compra tus entradas" cn="rightBottom" />
    <BentoComponent cn="bottomLeft" link="/#mapa" image="/images/map.webp" alt="Mapa de la ubicación del evento de Lola Lolita Land" />
    <BentoComponent title="5" cn="bottomRight" />
  </div>
</section>
