---
import Marquee from "@/components/Marquee.astro"
---

<div class="relative w-full overflow-hidden">
  <div class="bg-theme-green-light mx-auto my-[3%] -ml-2 w-[110%] -rotate-3 text-white">
    <Marquee content="Entradas" />
  </div>
</div>
