---
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>LOLA LOLITA LAND · Bienvenidos a mi mundo</title>
    <meta
      name="description"
      content="Evento organizado por Lola Lolita. Atracciones, música y muchísimos otros influencers presentes en uno de los mayores eventos organizados en España por una estrella de las redes sociales."
    />
    <meta
      property="og:title"
      content="LOLA LOLITA LAND · Bienvenidos a mi mundo"
    />
    <meta
      property="og:description"
      content="Evento organizado por Lola Lolita. Atracciones, música y muchísimos otros influencers presentes en uno de los mayores eventos organizados en España por una estrella de las redes sociales."
    />
    <meta property="og:image" content="https://lolalolitaland.com/og.jpg" />
    <meta property="og:url" content="https://lolalolitaland.com" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="LOLA LOLITA LAND · Bienvenidos a mi mundo"
    />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  body {
    display: grid;
    place-content: center;
    min-height: 100vh;
    background: #e4dde0;
    padding: 8px;
  }
</style>
